body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 20px;
    
    padding: 10px;
    box-sizing: border-box;
    /* background-color: rgb(127, 163, 169); */
}

.big-rectangle {
    width: 65%;
    height: 45%;
    border: 1px solid black;
    /* background-image: linear-gradient(rgb(218, 229, 234), rgb(76, 168, 194)); */
    display: flex;
    align-items: center;
    justify-content: center;
    /* box-sizing: border-box; */
}

.centered-content {  
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.centered-content img {
    /* max-width: 20%;  */
    /* height:10vh ; */
    /* width: 10vh;*/
    max-height:29vh ;
    max-width: 29vh;
    border-radius: 50%; 
    position: relative;
    left: 65vh;
    top:16vh
}

.centered-content p {
    margin: 10px 0 0 0;
    font-size: 1.5vw;
    color: black;
    z-index: 1;
    position: absolute;
    left: 73vh;
    top: 46vh;
   
}

.small-rectangles {
    display: flex;
    width: 75%;
    height: 25%;
    margin-top: 20px;
    /* box-sizing: border-box; */
    padding: 30px;
}

.small-rectangle {
    flex: 1; 
    border: 1px solid black;
    display: flex;
    align-items: flex-start;
    justify-content:center;
    text-align: left;
    padding: 30px;
    /* box-sizing: border-box;  */
}

.left-rectangle {
    margin-right: 10px;
    flex-direction: column;
    background-image: linear-gradient(rgb(25, 120, 197), rgb(47, 43, 43));
}

.right-rectangle {
    flex-direction: column;
    background-image: linear-gradient(rgb(25, 120, 197), rgb(47, 43, 43));
}

.text {
    font-size: 1.5vw;
    padding: 3px;
    color: aliceblue;
    /* border: 1.5px solid black; */
    
}

.big-rectangle img{
 /* width: 110%; */
  width: 160vh ; 
height: 44vh;  
align-items: center;
/* object-fit: contain; */
position: absolute;
/* top:0;
left:0; */
}

@media (max-width: 768px) {
    .big-rectangle {
        width: 90%;
        height: 40%;
    }

    .centered-content p, .text {
        font-size: 3vw;
    }

    .small-rectangles {
        flex-direction: column;
        width: 90%;
        height: auto;
    }

    .left-rectangle {
        margin-right: 0;
        margin-bottom: 10px;
        width: 170%;

    }
    .right-rectangle{
        width: 170%;
    }
    .centered-content img{
        top:14vh;
        left:3vh;
        height: 22vh;
        width: 22vh;
    }

    .centered-content p{
        top: 38vh;
        left: 6vh;
       
    }
}

@media (max-width: 480px) {
    .big-rectangle {
        width: 100%;
        height: 30%;
    }

    .centered-content p, .centered-text {
        font-size: 4vw;
    }

    .small-rectangles {
        margin-left: 100px;
        margin-top: 50px;
        width: 140%;
        height: auto;
    }
}